{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="fw-light">Добро пожаловать в библиотеку</h1>
                <p class="lead text-body-secondary">
                    Наша библиотека предлагает широкий выбор книг для всех возрастов и интересов. 
                    Откройте для себя новые миры, изучайте науки, наслаждайтесь художественной литературой.
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock %}